* {
   margin: 0;
   padding: 0;
   font-family: 'Domine', serif;
   color: white;
   box-sizing: border-box;
}


body::-webkit-scrollbar {
   display: none;
 }

body {
   -ms-overflow-style: none;
   scrollbar-width: none;
 }

#screen {
   display: flex;
   background-color: #010a4b;
   overflow: hidden;
}

h1 {
   font-size: 5vw;
}

p {
   font-size: 35px;
}

.left {
   background-color: #010a4b;
   z-index: 2;
   width: 50vw;
   height: 100vh;
   display: grid;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   grid-template-rows: 1fr 1fr;
   transition: transform 1s ease;
   padding: 7% 0;
}

#ia {
   text-align: left;
   padding: 0px 40px;
   width: 50vw;
   position: absolute;
   transform: translateY(-100vh);
}

#ia h2 {
   margin-bottom: 20px;
   font-size: 30px;
}

#ia p {
   font-size: 25px;
   width: 100%;
}

#ia .date {
   font-size: 20px;
   margin-bottom: 20px;
}

#quote {
   max-width: 45vw;
   text-align: center;
   transition: opacity 0.8s ease;
}

#top {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#clock {
   font-family: monospace;
}

#right {
   z-index: 1;
   width: 50vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   transition: all 1s ease-in-out;
}

#right span {
   min-width: 50vw;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

#right span img {
   max-width: 50vw;
   max-height: 100vh;
   object-fit: scale-down;
}

#vbcam {
   height: 100vh;
   width: 100vw;
   display: none;
   align-items: center;
   justify-content: center;
   background-color: black;
}

audio {
   display: none;
}